<%- model_class = Emprestimo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= model_class.human_attribute_name(:aluno) %></th>
      <th scope="col"><%= model_class.human_attribute_name(:matricula) %></th>
      <th scope="col"><%= model_class.human_attribute_name(:livro) %></th>
      <th scope="col"><%= model_class.human_attribute_name(:codigo) %></th>
      <th scope="col"><%= model_class.human_attribute_name(:data_do_emprestimo) %></th>
      <th scope="col"><%= model_class.human_attribute_name(:data_da_devolunção) %></th>
      <th scope="col">Opçoes</th>
    </tr>
  </thead>
  <tbody>
    <%n = 0%>
    <% @emprestimos.each do |emprestimo| %>
      <tr>
        <td><%= n += 1%></td>
        <td><%= link_to emprestimo.aluno_nome, aluno_path(emprestimo.aluno) %></td>
        <td><%= emprestimo.matricula %></td>
        <td><%= link_to emprestimo.livro_titulo, livro_path(emprestimo.livro) %></td>
        <td><%= emprestimo.codigo %></td>
        <td><%= l(emprestimo.data_emprestimo) %></td>
        <td><%= l(emprestimo.data_devoluncao) %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      emprestimo_path(emprestimo), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_emprestimo_path(emprestimo), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.devolver")),
                      emprestimo_path(emprestimo),
                      :method => :delete,
                      :data => { :confirm => "Devolver livro?" },
                      :class => 'btn btn-xs btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate @emprestimos %></div>


<%= link_to t('.back', :default => t("helpers.links.back")),
            root_path,
            :class => 'btn btn-primary' %>
<%= link_to "Gerar PDF", emprestimos_path(@emprestimo, format: "pdf"), :class => 'btn btn-warning'%>