<%- model_class = Emprestimo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <div class="jumbotron"style="
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
">
    <dt><strong><%= model_class.human_attribute_name(:aluno) %>:</strong></dt>
    <% aluno = @emprestimo.aluno %>
    <dd><%= link_to aluno.nome, aluno_path(aluno) %></dd>
  </div>
  <div class="jumbotron"style="
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
">
    <dt><strong><%= model_class.human_attribute_name(:matricula) %>:</strong></dt>
    <dd><%= @emprestimo.matricula %></dd>
  </div>
  <div class="jumbotron"style="
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
">
    <dt><strong><%= model_class.human_attribute_name(:livro) %>:</strong></dt>
    <% livro = @emprestimo.livro %>
    <dd><%= link_to livro.titulo, livro_path(livro) %></dd>
  </div>
  <div class="jumbotron"style="
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
">
    <dt><strong><%= model_class.human_attribute_name(:codigo) %>:</strong></dt>
    <dd><%= @emprestimo.codigo %></dd>
  </div>
  <div class="jumbotron"style="
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
">  
    <dt><strong><%= model_class.human_attribute_name(:data_do_emprestimo) %>:</strong></dt>
    <dd><%= l(@emprestimo.data_emprestimo) %></dd>
  </div>
  <div class="jumbotron"style="
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
">
    <dt><strong><%= model_class.human_attribute_name(:data_da_devolunção) %>:</strong></dt>
    <dd><%= l(@emprestimo.data_devoluncao) %></dd>
  </div>

</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              emprestimos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_emprestimo_path(@emprestimo), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.devolver")),
              emprestimo_path(@emprestimo),
              :method => 'delete',
              :data => { :confirm => "Devolver livro?" },
              :class => 'btn btn-success' %>
